main{
	margin: 20px auto;
	border: 1px solid #333;
	border-radius: 10px;
}

main:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: top;
	margin: 0 50px 20px;
}

section.section{
	display: inline-block;
	margin: 0 50px 20px;
	vertical-align: top;
}

.btn{
	border: 1px solid #eee;
	border-radius: 10px;
	background-color: #bbb;
	color: #333;
	padding: 20px;
	margin: 20px 0;
	text-decoration: none;
	display: block;
}